
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env/

# Environment variables
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# SQLite (if used)
*.sqlite3

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/